<!--
; ============================================
; Title: not-found.component.html
; Date: 23 March 2020
; Modified By: Joshua Hughes
; Description: custom 404 component for nodebucket project
;=============================================
 -->

<br/>
<img src="assets/images/uhOh.png" class="img-fluid mx-auto d-block">
<br/>
<br/>
<p class="h6 text-center">
    This can sometimes happen if you have typed the wrong URL in the browser.<br>
    Double check that you have entered the correct URL if you were manually typing it.<br>
    If you clicked a link and ended up here, then it is likely the link needs to be updated, and would require you to contact your system administrator to advise them of the error. 
 </p>
<button class="btn btn-secondary rounded mx-auto d-block mat-elevation-z6" (click)="returnHome();">
    <img src="assets/images/returnButton.png" >
</button>